$ff:'Open Sans' , sans-serif;
$fs: 40px;
$fw:600;
$letter-spacing: 4px;
$width: 100%;
$bottom: 0;
$left: 0;
$padding:10px;

$padding-left: 25px;
$padding-right: 25px;
$padding-top: 3vh;

$border-radius: 0.3em;
$margin: 0px;
$height:100vh;

$margin-top: 2%;