@import 'mixins';
@import 'variable';
*{
    margin: 0px;
}
body{
    @include bg_style(url(../image/back.jpg)fixed,cover);
}

.subblog{
    @include margin_style2(10px,10px);
    border-radius: 10px;
    border:solid;
}
#contain{
    display: none;
}
.userdata{
    border-radius: 10px;
    border: solid;
    width: 40%;
    padding: 0px;
    
}
.userimg{
    margin-top: 5px;
    height: 60px;
    width: 60px;
}
#home{
    height: $height;
    position: absolute;
    top: 10vh;
}
*[role="form"] {
    max-width: 780px;
    padding: 15px;
    margin: 0 auto;
    border-radius: $border-radius;
    background-color: #97CAEF ;
    height: 70vh;
    opacity: 0.9;
}
.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #001a66;
    font-weight: bolder;
}

.sub{   
    padding: 5px;
    box-shadow: 5px 10px #888888;   
}
.innersub{
    height: 8rem;
    line-height: 2rem;
    overflow: hidden;
}
.datespan{
    display: block;
}
.Bimage{
    width: $width;
    height: 40%;
}
#mytextarea{
    height: 41vh;
}

#myForm1{
    display: none;
}

*[role="form"] h2 { 
    @include font_styles($ff,$fs,$fw);
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header{
    @include display(flex,row);
    justify-content: space-around;
    height: 10vh;
}

img{
    height: 5vh;
}
.anchor{
    @include margin_style1(2%,2%);
}
.container{
    @include margin_style2(5vh,5vh);
}


footer{
    @include display(flex,row);
    @include foot($bottom,$left);
   height: 13.5vh;
   position: absolute;
   font-size: 20px;
   padding-top: 2vh;
   margin-bottom: -50px;
   width: $width;
}
.fixed-bottom{
    @include foot(0px,0);
}

.ulist{
    @include display(flex,row);
    list-style-type: none;
    float: right;
    padding: 0%;
    margin-right: 12vh;
}

.list{
    @include padding_styles($padding-top,$padding-right,$padding-left);
    display: flex;
    justify-items: center;
}

#comment{
    width: 50%;
}


.navbar{
    width: $width;
    height: 10vh;
}
.btn1{
    @include color_style(#97CAEF,#001a66);
}
.fullblog{
    width: $width;
}
@media screen and (max-width:768px)
{
    
    .icon-bar{
        background-color: #001a66;
    } 
    .ulist{
        flex-direction: column;
        background-color: gray;
        opacity: 1;
        padding-top: 0;
        margin-right: 0%;
        width: $width;
        
    }
    #myNavbar{
       margin: 0%;
       padding: 0%;
        width: 100%;
        background-color: gray;
        margin-top: 1vh;
        position: absolute;
        z-index: 5;
       justify-content: center;
        left: 0%;
        border:solid black;  
    }

    .list{
        @include margin_style2(2px,2px);
        display: flex;
        justify-content:start;
        width: $width;
        right: 0;     
    }
    .container{
        margin-top: 12vh;
    }

    #mytextarea{
        height: 30vh;
    }
 
    footer{
        @include foot(0,0);
        position: relative;
        height: 8vh;
    }
    *[role="form"] {
        position: relative;
    }

    .btn{
        width: $width;
    }
   
}
.foot1{
    position: relative;
}

.foot2{
    position: absolute;   
}

